/* Reuse Page Header */
.page-header {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url('../images/photo/1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    margin-bottom: 50px;
}

.page-header h1 {
    color: var(--white);
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.breadcrumb {
    display: flex;
    justify-content: center;
    list-style: none;
}

.breadcrumb-item {
    font-size: 1rem;
    color: var(--white);
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "/";
    padding: 0 10px;
    color: var(--primary);
}

.breadcrumb-item a {
    color: var(--primary);
}

.breadcrumb-item.active {
    color: var(--white);
}

/* Services Specifics */
.services-section {
    padding: 100px 0;
    background: #f8f9fa;
    text-align: center;
  }
  
  .container {
    width: 100%;
    margin: auto;
  }
  
  /* Title */
  .section-title span {
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
  }
  
  .section-title h2 {
    font-size: 38px;
    margin: 10px 0 60px;
    color: #666556
  }
  
  .section-title h2 strong {
    color: var(--primary);
  }
  
  /* Grid */
  .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  
  /* Card */
  .service-card {
    background: #fff;
    padding: 50px 30px;
    box-shadow: 0 0 30px rgba(0,0,0,0.05);
    transition: 0.3s ease;
    border-radius: 10px;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    background-color:var(--primary);
  }
  .service-card:hover .icon-box {
  background: #fff;
}

.service-card:hover p {
  color: #fff;
}


  
  /* Icon */
  .icon-box {
    width: 70px;
    height: 70px;
    border: 1px solid #eee;
    margin: 0 auto 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-box i {
    font-size: 30px;
    color: #a07e4e;
  }
 
  
  /* Text */
  .service-card h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #000000;
  }
  
  .service-card p {
    font-size: 15px;
    color: #666;
    line-height: 1.6;
  }

  /* Responsive */
  @media (max-width: 991px) {
    .services-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 576px) {
    .services-grid {
      grid-template-columns: 1fr;
    }
  }
  